body {
    background-color: #F1F1F1;
}

#form1 {
    margin-left: 180px;
}

#form1 input[type='search'] {
    height: unset !important;
}

nav .input-field label {
    top: -12%;

}

.section-ecommerce .card-image {
    padding: 5%;
}

.custom-red {
    background-color: #FE5E3A;
}

.custom-orange {
    background-color: #FF9501 !important;
}

.custom-green {
    background-color: #76C80E;
}

.custom-blue {
    background-color: #1FBBA6;
}

.custom-grey {
    background-color: #4C4743;
}

.custom-light-grey {
    color: #A9A9A9 !important;
}

.custom-body-grey {
    background-color: #EFEFEF;
}

.custom-title-color {
    color: #9D9D9D;
}

.team-members-color {
    color: #979797;
}

.table-green-color {
    background-color: #76C710 !important;
}

.table-green-darken-color {
    background-color: #76C80E !important;
}

.table-orange-color {
    background-color: #FF9600 !important;
}

.table-gray-color {
    background-color: #75726D !important;
}

.card.horizontal .card-image {
    max-width: 30%;
}

.italic {
    font-style: italic !important;
}

#modal1 .card,
#modal2 .card {
    margin: 0 !important;
}

.section-chart .collapsible,
.section-recent-order .collapsible {
    background-color: #fff;
}


.section-recent-order table a .new {
    border-radius: 10px !important;
}

.section-recent-order table td,
.section-recent-order table th {
    text-align: center !important;
}


.section-recent-order table a .badge {
    padding: 4px 6px;
    float: unset;
}


.my-wrapper {
    position: relative;
    background: url(../img/weather-background.jpeg);
    padding: 0 !important;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

.primary-overlay {
    /*  position: absolute; */
    top: 0;
    left: 0;
    background: rgba(74, 181, 153, 0.7);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10%;
}

/*  weather */
.weather-img {
    width: 35%;
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 5px;
}

.weather-description {
    text-transform: capitalize;
}

.weather-value {
    font-weight: bold;
    font-size: 5em;
}


/* SVG WORDL MAP */

svg:not(:root) {
    overflow: hidden;
    width: 100%;
    height: inherit;
}


.row-same-height {
    display: flex;
    flex-wrap: wrap;
}

.section-map svg {
    height: 100%;
    width: 100%;
}

.section-recent-order table td {
    padding: 25px 5px;
}



.section-recent-order table tr td:first-child {
    position: absolute !important;
    padding: 0;
}


.section-recent-order table .clothes {
    position: relative;
    width: 10%;
    right: 42%;
    margin: 2px;
}

.section-recent-order .materialboxed {
    display: unset;
}